.progress-bar{
    margin: auto;
    width: 55%;
    height: 35px;
    border-radius: 50px;
    background-color: #cef4fb;
    margin-bottom: 10px;
    margin-top: 50px;
}

.progress-bar-fill{
    height: 100%;
    border-radius: 50px;
    background-color: #181d31;
    transition: width 0.5s ease-out;
}

.progress-title {
    font-size: 35px;
    font-weight: bold;
    color: #181d31;
    margin-top: 128px;
    margin-left: 50px;
    position: absolute;
}



.progress-label{
    margin-top:10px;
    font-size: 24px;
    font-weight: bold;
    color: #181d31;
}

.lessons-list{
    margin-left:50px;
}