.homepage-photo {
    position: relative;
}

.homepage-photo img {
    height: 870px;
    width: 100%;
}

.homepage-photo h1, .homepage-photo h2 {
    background-color: #f8f8f8;
    padding: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    color: #181d31;
}

.homepage-photo h1 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: Georgia, serif;
}

.homepage-photo h2 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: Georgia, serif;
}

.about-us h1 {
    margin-top: 20px;
    text-align: center;
    font-family: Georgia, serif;
    padding: 40px;
    color: #181d31;
    font-size: 40px;
}

.about-us h3 {
    text-align: center;
    margin: auto;
    width: 800px;
    font-family: Georgia, serif;
    color: #181d31;
    font-size: 22px;
    font-weight: normal;
}

.feature-section {
    text-align: center;
    padding: 3em;
}

.feature-container {
    display: flex;
    justify-content: space-around;
}

.feature {
    max-width: 300px;
}

.feature-icon {
    width: 50px;
}

.feature-title {
    font-family: Georgia, serif;
    font-size: 25px;
}

.feature-description {
    font-family: serif;
    color: #181d31;
    font-size: 20px;
}


