.button {
    width: 200px;
    height: 200px;
    background: #181d31;
    border-radius: 40px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .button {
    margin-bottom: 20px;
}

.plus-sign {
    width: 100px;
}