.course-form {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
}

.left-group,
.right-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

label {
  display: block;
  font-weight: bold;
  margin-right: 10px;
}

#courseTitle,
#courseDescription,
#courseThumbnail,
#courseCategory {
  width: 300px;
  padding: 10px;
  border: 2px;
  border-radius: 20px;
  margin-left: 20px; /* Added for consistency */
}

#courseDescription {
  height: 100px; 
}

.file-input {
  display: none; /* Hide the default file input */
}

.upload-container {
  position: relative;
}

.course-image-upload-button {
  padding: 10px;
  border: 2px #ccc;
  border-radius: 8px;
  cursor: pointer;
  background-color: #f0f0f0;
}

.course-image-upload-button:focus {
  outline: none;
}

.left-group {
  margin-right: 10px;
}

.right-group {
  margin-left: 10px;
}
