nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #181d31;
    padding:1em;
    position: sticky;
    top: 0;
}

nav .title {
    font-size:2rem;
    font-weight: bold;
    color: white;
}


